.dirve-main
	width: 100%
	min-height: 700px
	background: #999 
	> section
    max-width: 1280px
    padding-left: 85px
    padding-right: 85px
    margin-right: auto
    margin-left: auto
	&-header
    display: flex
    align-items: center
    justify-content: space-between
	&-title
		text-transform: uppercase
		